BR2_riscv=y
BR2_riscv_custom=y
BR2_RISCV_ISA_RVM=y
BR2_RISCV_ISA_RVA=y
BR2_RISCV_ISA_RVC=y
BR2_RISCV_32=y
# BR2_RISCV_USE_MMU is not set
# BR2_UCLIBC_INSTALL_UTILS is not set
BR2_GLOBAL_PATCH_DIR="board/qemu/patches"
BR2_DOWNLOAD_FORCE_CHECK_HASHES=y
BR2_ROOTFS_OVERLAY="/home/developer/iotahydrae/rp2350-linux/s4/05_buildroot-rootfs/overlay"
BR2_PACKAGE_BUSYBOX_CONFIG="package/busybox/busybox-rp2350.config"
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_SIZE="512k"
BR2_TARGET_ROOTFS_EXT2_INODES=256
BR2_TARGET_ROOTFS_EXT2_RESBLKS=0
BR2_TARGET_ROOTFS_EXT2_MKFS_OPTIONS="-b 1024"
BR2_PACKAGE_HOST_KMOD=y
